<!-- src/app/product-list/product-list.component.html -->
<div class="container mt-4">
    <h1 class="text-center">Products</h1>
    <div class="row mt-4">
      @for(product of products; track product.id){
        <div class="col-md-4">
          <div class="card mb-4">
            <!-- <img *ngIf="product.imgUrl" [src]="product.imgUrl" class="card-img-top" [alt]="product.name"> -->
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.description }}</p>
              <p class="card-text"><strong>Price:</strong> {{ product.price }}$</p>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
  